body{
    font-family: sans-serif;
}
h1{
    text-align: center;
}

.inputfield{
    /* border: 1px solid red; */
    width: 50vw;
    /* height: 50vh; */
    margin: auto;
}

#formtag{
    display: flex;
    flex-flow: column;
    height: 20vh;
    border: 1px solid rgb(196, 196, 189);

    
}
#formtag >div{
    /* border: 1px solid rgb(32, 126, 56); */
    height: 50%;
}
.discdiv{
    padding: 10px;
}
.addInfo{
    display: flex;
    

}
.addInfo > div{
    width:50%;
    padding: 10px;
    border: 1px solid rgb(196, 196, 189);
}
.flexcolumn{
    display: flex;
    flex-flow: column;
     /* justify-content: space-evenly; */
}
.margintop{
    margin-top: 5px;
    border:none
}
#description:focus{
    outline:none;
    
}
#datefield:focus{
    outline:none;

}
#category:focus{
    outline: none;
}
/* label{
    font-weight: bolder;
} */
/* button Section */
.btnsection{
/* border: 1px solid green; */
width:25vw;
margin: auto;
margin-top: 5vh;
}
.btn{
    padding: 20px;
    font-size: 1rem;
    width: 12vw;
    color:white;
    border: none;
    /* text-align: center; */
    margin-bottom: 25%;
   

}
.btn i{
    margin-right: 7px;
}

#addbtn{
    background-color: black;
}
#delbtn{
    background-color: rgb(201, 62, 62);
}

/* task List Section */

.taskList{
    display: flex;
    /* border: 1px solid red; */
    width: 60vw;
    margin: auto;
    background-color: rgba(240, 240, 240, 0.322);
    padding:5px;
    margin-bottom: 5px;
}

.taskdiv{
    /* border: 1px solid yellow; */
    width: 55vw;
    display: flex;
    margin-left: 2rem;
    justify-content: space-between;
    align-items: center;
    
}
.showCategory{
    /* border: 1px solid green; */
    width: 5vw;
    text-align: center; 
    height: 6vh;
    color: rgb(255, 255, 255);;
   /* background-color: brown;  */
    
}
.taskList:hover{
    background-color: rgba(216, 216, 216, 0.726);

}
.taskInfo{
    
    margin-top: -30px;
    /* width: 40vw; */
}